NEXT_PUBLIC_APP_URL=http://localhost:3000
DATABASE_URL="postgresql://library_skill_user:password_yang_kuat@localhost:5432/library_skill_db"
GOOGLE_CLIENT_ID=adalah_pokoknya_ytta
GOOGLE_CLIENT_SECRET=adalah_pokoknya_ytta